
#vid{
  position :absolute;
  top:0;
  left:0;
}
#imgs{
  position :absolute;
  top:0;
  left:260;
}
#centerdiv{
  position : absolute;
    top:100;
    left:580px;
	display:none;
  }
 #countdown{
  position : absolute;
  top : 90;
  left : 80;
  color :white;
  font-size: 34px;
  text-align: center;
  width:40px;
  height:40px;
  border-radius: 20px;
  border : 3px solid white;
  display:none;
}

video , #container{
  background-color: black;
}

video{
	position:absolute;
	top:20;
	left:0;
    object-fit: fill;
}
canvas{
    width:200px;
    height:240px;
}

#container{
    margin-top:-4.5px;
    width:200px;
    height:224px;
    position: absolute;
	top:25;
	left:260px;
    float:left;
}

#cadre {
    position: absolute;
    top: 10;
    left:10;
    width:50;
    height:50;
    filter: brightness(40%);
    border: 2px dotted gray;
    display:none;
  }
  .buton5 {
    border-radius:12px 0 12px 0;
    background: #d34836;
    border:none;
    color:#fff;
    font:bold 12px Verdana;
    padding:15px 200px;
    top :50% ;
    left : 50%;
    align-items: center;
  }

  .corner{
    position: absolute;
    width:5px;
    height: 5px;
    background-color : black;
  }
  .i{
  
    text-align:  center;
    top: 50px;
  }
  .tl{
    top : 0;
    left : 0;
    cursor: nwse-resize;

}
.tr{
    top : 0;
    right : 0;
    cursor: nesw-resize;

}
.br{
    bottom : 0;
    right : 0;
    cursor: nwse-resize;

}
.bl{
    bottom : 0;
    left : 0;
    cursor: nesw-resize;

}
.tc{
    top : 0;
    left : 50%;
    cursor: ns-resize;

}
.but{
  width: 0px;
  text-align: center;
  color: black;
  font-size: 40px;
  border: none;
  padding: 15px 100px;
 
 
  border-radius:120px 0 12px 0;
  background: #d34836;
  border:none;
 
  font:bold 14px Verdana;
 
  
  
}
.bc{
    bottom : 0;
    left : 50%;
    cursor: ns-resize;

}
.lc{
    top : 50%;
    left : 0;
    cursor: ew-resize;

}
.rc{
    top : 50%;
    right : 0;
    cursor: ew-resize;
}

#opvid{
	position:absolute;
	top:250;
  left : 0;
  
}
#opimg{
	position:absolute;
	top:250;
  left : 260;

}
#op{
	position:absolute;
	top:200;
  left :-160;
  font-size: 100%;
}
h1 {
  text-decoration: overline;
  text-shadow: 3px 2px red;
  font-size: 400%;
}
tr{
  font-size: 160%;

}
input{
  font-size: 100%;
}
